<button mat-flat-button
        color="primary"
        matTooltip="Click to open/close map."
        class="score-board {{scoreBoardExpanded? 'expanded': ''}}"
        (click)="onScoreBoardClick()">
    <p>Time left: {{0}}</p>
    <p>Score: {{mapService.selectedMap.score == null? 0: mapService.selectedMap.score}}</p>
</button>
<div [style.display]="scoreBoardExpanded? 'flex': 'none'" class="expanded-score-board">
    <div #map class="map"></div>
    <button class="submit-btn" 
            color="accent" 
            (click)="onSubmitClick()"
            matTooltip="Click to submit score."
            mat-raised-button>Submit</button>
</div>
<div #panorama class="panorama"></div>
<button mat-stroked-button 
        matTooltip="Reset to starting position."
        class="reset-btn" 
        (click)="onResetClick()">
    <mat-icon>home</mat-icon>
</button>

