<h1 class="title" mat-dialog-title><b>{{getTitle()}}</b></h1>
<div mat-dialog-content>
    <app-time-picker [value]="getTime()" (onValueChange)="changeTime($event)"></app-time-picker>
</div>
<div mat-dialog-actions align="center" class="buttons">
    <button color="accent" mat-flat-button [mat-dialog-close]="onPrevClick()">Previous</button>
    <button color="accent" mat-flat-button [mat-dialog-close]="onStartClick()">Start</button>
    <button color="accent" mat-flat-button [mat-dialog-close]="onNextClick()">Next</button>
</div>