@import '~@angular/material/theming'
$myAccentPaletteVariable : mat-palette($mat-amber, A200, A100, A400)
$myAccentColor : mat-color($myAccentPaletteVariable)

.logo
    -webkit-text-stroke: 2px $myAccentColor
    font-family: Impact, serif
    font-size: 1.4em
    cursor: pointer

.content
    display: flex
    margin: 40px 30px
    flex-direction: column
    align-items: center
