<div class="menu">
    <h1>Every {{mapService.generationTime}} minutes generated are {{mapService.maps.length}} maps for selected region.</h1>
    <h2>Time left till next reset: 
        <h3>{{timeLeft.minutes}} minutes {{timeLeft.seconds}} seconds</h3>
    </h2>
    <div class="selectors">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Region</mat-label>
            <mat-select (selectionChange)="onSettingsChange()" [(ngModel)]="mapService.selectedRegion">
              <mat-option *ngFor="let region of mapService.regions" [value]="region">
                {{region.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Map</mat-label>
            <mat-select (selectionChange)="onSettingsChange()" [(ngModel)]="mapService.selectedMap">
              <mat-option *ngFor="let map of mapService.maps" [value]="map">
                {{map.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
