<div class="menu">
    <h1>Create game</h1>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Region</mat-label>
      <mat-select (selectionChange)="onRegionChange()" [(ngModel)]="settings.selectedRegion">
        <mat-option *ngFor="let region of settings.regions" [value]="region">
          {{region.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button 
            class="start-btn"
            color="accent"
            (click)="onCreateClick()"
      >Create
    </button>
</div>
