<div class="menu">
    <h1>Every {{settings.generationTime}} minutes generated are {{settings.maps.length}} maps for selected region.</h1>
    <h2>Time till next reset: 
        <h3>{{timeLeft.minutes}} minute{{timeLeft.minutes != 1? 's': ''}} {{timeLeft.seconds}} seconds</h3>
    </h2>
    <div class="selectors">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Region</mat-label>
            <mat-select (selectionChange)="onSettingsChange()" [(ngModel)]="settings.selectedRegion">
              <mat-option *ngFor="let region of settings.regions" [value]="region">
                {{region.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Map</mat-label>
            <mat-select (selectionChange)="onSettingsChange()" [(ngModel)]="settings.selectedMap">
              <mat-option *ngFor="let map of settings.maps" [value]="map">
                {{map.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <app-time-picker [disabled]="settings.started" [value]="pickedTime"></app-time-picker>
    </div>
    <button mat-flat-button 
            class="start-btn"
            color="accent"
            (click)="onStartClick()"
      >Start
    </button>
</div>
